/target/

*.classpath
*.project
/settings/
\.settings/org\.eclipse\.core\.resources\.prefs

\.settings/org\.eclipse\.jdt\.core\.prefs

\.settings/org\.eclipse\.m2e\.core\.prefs

\.settings/
/.apt_generated/
/.apt_generated_tests/
TestesUnitarios/src/main/java/br/ce/wcaquino/.DS_Store
TestesUnitarios/src/main/java/br/ce/.DS_Store
TestesUnitarios/src/main/java/br/.DS_Store
TestesUnitarios/src/main/java/.DS_Store
TestesUnitarios/src/main/.DS_Store
TestesUnitarios/src/.DS_Store
*.DS_Store
*.MF
*.class
TestesUnitarios/target/classes/META-INF/maven/br.ce.wcaquino/TestesUnitarios/pom.xml
TestesUnitarios/target/classes/META-INF/maven/br.ce.wcaquino/TestesUnitarios/pom.properties
